@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
@mixin nav-link {
  text-decoration: none;
  color: $primary-color;
  padding: 10px 10px;
  transition: color 0.1s;

  &:hover {
    color: $secondary-color;
  }
}